body {
    background: linear-gradient(
        45deg, 
        var(--green-logo) 50%, 
        var(--org-logo)  30%
    );
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

body::before {
    background-color: var(--green-logo);
    background: linear-gradient(90deg, var(--green-logo) 10%, rgb(0 221 152) 100%);
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

body::after {
    background-color: var(--org-logo);
    background: linear-gradient(90deg, rgb(224 103 0) 10%, var(--org-logo));
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    transform: translateX(10%);
    right: 0;
    top: 0;
    animation-name: bg-movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

body::after,
body::before {
    transform: rotate(0deg);
    z-index: -1;
    transition: .6s;
}

header,
footer {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.login {
    padding: 5px 12px;
    background-color: var(--sslight-bg);
}


/* header ul,
footer {
    background-color: var(--mslight-bg);
} */

footer {
    text-align: center;
}

footer p {
    padding: 1rem;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(1000%);
}

.btn-sect {
    display: flex;
    align-items: center;
}

section.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

section.hero p {
    font-size: 1.5rem;
}

section span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: initial;
    text-decoration-style: wavy;
    text-decoration-color: var(--sw-red);
}

.cta-button {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    background-color: var(--sslight-bg);
    color: initial;
    margin: 1rem;
    box-shadow: 8px 8px 0px 0px rgb(238 251 255 / 51%);
}

.cta-button:hover,
.login:hover {
    box-shadow: 0px 0px 0px 5px rgb(238 251 255 / 51%);
    transform: scale(1.1);
}

.is-abt {
    background-color: var(--sslight-bg);
    color: black;
}

.is-abt .login,
.is-abt .cta-button {
    background-color: black;
    color: var(--sslight-bg);
}

#about-sw {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.top-abt {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.abt-holder {
    background-color: var(--sslight-bg);
    color: black;
    margin: 1rem 10rem;
    font-size: 1.5rem;
    height: 100%;
    text-align: left;
    transition: .3s;
    overflow: auto;
}

.abt-holder * {
    transition: .3s;
}

.abt-holder p {
    margin: 1rem 0;
}

.entry-forms {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000094;
    width: 100%;
    height: 100%;
}

.entry-forms.active {
    position: absolute;
}

.entry-forms .container {
    display: none;
    position: relative;
}

.entry-forms .back-arrow-btn {
    cursor: pointer;
    position: absolute;
    /* top: 2.5rem; */
    transform: scale(1.2);
}

.container {
    background: var(--sslight-bg);
    padding: 2rem;
    height: 55%;
    max-height: 450px;
    border-radius: 20px;
    width: 60%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h2, 
.container p {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

}

.container form * {
    margin: 10px;
    border: none;
    width: 100%;
    font-size: 1rem;
    background: var(--mslight-bg);
    border-radius: 10px;
    padding: 10px;
}

.container form button {
    cursor: pointer;
    width: fit-content;
    background-color: var(--green-logo);
    /* border-radius: 0; */
    color: white;
    border: none;
    margin: 1rem;
    box-shadow: 8px 8px 0px 0px var(--form-input-outline);
}

.container form button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 5px var(--form-input-outline);
}
.container a {
    color: var(--green-logo);
}

.container form input {
    outline: 1px solid var(--form-input-outline);
}

.container form textarea {
    width: 100%;
    height: 100%;
}

.container form input:focus {
    background-color: var(--form-input-outline);
    outline: rgba(55, 239, 58, 0.801);
    outline-style: solid;
    outline-width: 2px;
}

.back {
    position: absolute;
    top: 0rem;
    left: 0.5rem;
}

.back button {
    border: initial;
}


/* Animation */
@keyframes bg-movement {
    0% {
        transform: translateX(10%);
    } 25% {
        transform: translateX(90%);
    } 50% {
        transform: translateX(25%);
    } 75% {
        transform: translateX(75%);
    } 100% {
        transform: translateX(10%);
    }
}

/* responsive design */
@media (max-width: 900px) {
    .abt-holder {
        margin: 1rem 5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 750px) {
    .abt-holder {
        margin: 1rem 5rem;
        font-size: 1.3rem; 
    }
}

@media (max-width: 610px) {
    .abt-holder {
        margin: 1rem 2rem;
        font-size: 1.3rem; 
    }
}

@media (max-width: 450px) {
    section.hero h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    section.hero p {
        font-size: 1.2rem;
    }
    .abt-holder {
        margin: 1rem 2rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 470px) {
    .abt-holder {
        margin: 1rem 2rem;
        font-size: 1rem;
    }

    .container {
        padding: 1rem;
        background: var(--mslight-bg);
        border-radius: 10px;
        height: 70%;
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
    }
}