{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
    <title>SpendWise - Home</title>
</head>
<body>
    <div class="container-main-body">
        <div class="loader-box" id="loading-box">
            <div class="loader-parent">
                <div class="loader"></div>
            </div>
        </div>
        <div class="main-screen">
            <div class="main-screen-inner" id="main-screen-inner">
                <div class="main-top">
                    <div class="main-screen-nav">
                        <div class="logo">
                            <a href="#">
                                <button>
                                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                                    <p>SpendWise</p>
                                </button>
                            </a>
                        </div>
                        <div class="search-bar">
                            <input type="search" name="search-query" id="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="tab-listing hide">
                            <button id="list-up"><i class="fa-solid fa-sort-up"></i></button>
                            <ul id="listing-list">
                                <li class="active" data-target="overview-screen">Overview</li>
                                <li data-target="entry-screen">Entries</li>
                                <li data-target="income-screen">Income</li>
                                <li data-target="expense-screen">Expense</li>
                            </ul>
                            <button id="list-down"><i class="fa-solid fa-sort-down"></i></button>
                        </div>
                    </div>
                    <div class="wallet-icon">
                        <img src="https://img.icons8.com/color/96/wallet--v1.png" alt="wallet--v1" hidden/>
                        <a href="/home">
                            <img src="https://img.icons8.com/color-glass/96/home.png" alt="home"/>
                        </a>
                        <p id="wallet-icon-name">Home</p>
                    </div>
                </div>
                <div class="main-contained">
                    <div class="home-main active off" id="home-main"></div>
                    <div class="overview-screen off" id="overview-screen"></div>
                    <div class="entry-screen off" id="entry-screen"></div>
                    <div class="income-screen off" id="income-screen"></div>
                    <div class="expense-screen off" id="expense-screen"></div>
                </div>
            </div>
        </div>
        <div class="side-screen" id="side-screen">
            <div class="side-screen-inner" id="side-screen-inner">
            </div>
            <button></button>
        </div>
    </div>

    <div class="entry-forms">
        <div class="container" id="expense-form">
            <h2>Expense Entry</h2>
            <div class="back-arrow-btn"><i class="fa-solid fa-arrow-left"></i></div>
            <p class="identified_wallet" id="expense-id" hidden></p>
            <p class="named_wallet" id="named-ex" hidden></p>
            <p id="token" hidden>{{ csrf_token }}</p>
            <form id="expense-form-main">
                <input type="text" placeholder="Title" id="title-ex" name="title" required>
                <input type="number" placeholder="Amount" id="amount-ex" name="amount" required>
                <input type="text" value="Expense" hidden id="entry-type-ex">
                <textarea name="description" id="descrip-ex" placeholder="Description" cols="30" rows="10"></textarea>
                <select name="category" id="category_income-ex" class="category_select">
                    <option disabled selected>Select a category...</option>
                </select>
                <button type="submit">Save Entry</button>
            </form>
            <div id="expense-result"></div>
            <!-- <script src="{% static 'js/login.js' %}"></script> -->
        </div>

        <div class="container" id="income-form">
            <h2>Income Entry</h2>
            <div class="back-arrow-btn"><i class="fa-solid fa-arrow-left"></i></div>
            <p class="identified_wallet" id="income-id" hidden></p>
            <p class="named_wallet" id="named-in" hidden></p>
            <p id="token" hidden>{{ csrf_token }}</p>
            <form id="income-form-main">
                <input type="text" placeholder="Title" id="title-in" name="title" required>
                <input type="number" placeholder="Amount" id="amount-in" name="amount" required>
                <input type="text" value="Income" hidden id="entry-type-in">
                <textarea name="description" id="desrip-in" placeholder="Description" cols="30" rows="10"></textarea>
                <select name="category" id="category_income-in" class="category_select">
                    <option disabled selected>Select a category...</option>
                </select>
                <button type="submit">Save Entry</button>
            </form>
            <div id="income-result"></div>
            <!-- <script src="{% static 'js/login.js' %}"></script> -->
        </div>

        <div class="container" id="wallet-form">
            <h2>Create Wallet</h2>
            <div class="back-arrow-btn"><i class="fa-solid fa-arrow-left"></i></div>
            <p id="token" hidden>{{ csrf_token }}</p>
            <form id="wallet-form-main">
                <input type="text" placeholder="Name" id="wallet-name" name="name" required>
                <input type="number" placeholder="Budget" value="5000" id="wallet-budget" name="budget" required>
                <button type="submit">Create</button>
            </form>
            <div id="wallet-result"></div>
            <!-- <script src="{% static 'js/login.js' %}"></script> -->
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>